.modal-content {
    background: #f6f9fc;
    font-size: 17px;
    border-radius: 8px;
    -webkit-box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    overflow: hidden;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    will-change: opacity;
}

.modal {
    background: rgba(82,95,127,.7);
    will-change: opacity;
}

.modal-header {
    background: #fff;
    padding: 17px 25px;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.modal-title {
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #3ecf8e;
    margin-bottom: 5px;
}

.modal-subtitle {
    font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    color: #32325d;
    margin: 0;
}

.modal-footer {
    background: #fff;
}
