.ResetPassword .success {
    margin: 0 auto;
    /*min-width: 100px;*/
    text-align: center;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.ResetPassword form {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 350px;
    max-width: 420px;
}
.ResetPassword .success .glyphicon {
    color: grey;
    font-size: 30px;
    margin-bottom: 30px;
}
