footer {
    z-index: 500;
    position: relative;
    background-color:white;
    padding-left: 50px;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.footer-content {
    flex: 0 1 200px;
}
