.Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
}

.stripes-container {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -52px;
    top: 50%;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    will-change: transform;
}

.stripes-container .left-dots-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}

.stripes-container .left-dots-container:before {
    content: "";
    background-image: url(https://stripe.com/img/v3/contact_sales/background/dots-left.svg);
    background-size: 100%;
    position: absolute;
    bottom: 21em;
    left: 0;
    width: 145px;
    height: 370px;
    -webkit-transform: skewY(12deg);
    transform: skewY(12deg);
}

.stripes-container .light-dots-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.stripes-container .light-dots-container:before {
    content: "";
    background-image: url(https://stripe.com/img/v3/contact_sales/background/dots-right-light.svg);
    background-size: 100%;
    position: absolute;
    bottom: 15em;
    right: -22px;
    width: 220px;
    height: 352px;
    -webkit-transform: skewY(12deg);
    transform: skewY(12deg);
}

.stripes-container .dark-dots-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    height: 100%;
    overflow: hidden;
}

.stripes-container .dark-dots-container:before {
    content: "";
    background-image: url(https://stripe.com/img/v3/contact_sales/background/dots-right-dark.svg);
    background-size: 100%;
    position: absolute;
    top: -131px;
    right: 20px;
    width: 220px;
    height: 352px;
    -webkit-transform: skewY(12deg);
    transform: skewY(12deg);
    will-change: opacity;
}
