.common-UppercaseTitle {
    color: #6772e5;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-size: 21px;
    line-height: 32px;
}

h1.common-PageTitle {
    font-size: 45px;
    line-height: 60px;
    color: #32325d;
    letter-spacing: -.01em;
    font-weight: 300;
}

.common-IntroText {
    font-weight: 300;
    color: #424770;
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
}

/* Visual CSS */
.icon-container {
    width: 3000px;
    height: 460px;
    position: relative;
    left: 50px;
}

.icon {
    width: 150px;
    height: 150px;
    position: absolute;
    /*margin: -75px 0 0 -75px;*/
    border-radius: 50%;
    -webkit-box-shadow: 0 15px 35px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.07);
    box-shadow: 0 15px 35px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.07);
}

.icon-image-spotify {
    background-image: url(https://stripe.com/img/v3/customers/logos/header-logos@2x.png?39);
    background-position: -334px -506px;
    left: 300px;
    width: 152px;
    height: 152px;
}

.icon-image-2 {
    background-image: url(https://stripe.com/img/v3/customers/logos/header-logos@2x.png?39);
    background-position: -334px -806px;
    width: 152px;
    left: 150px;

}

.icon-image-3 {
    background-image: url(https://stripe.com/img/v3/customers/logos/header-logos@2x.png?39);
    background-position: -434px -306px;
    width: 152px;
    left: 100px;

}

.icon-image-4 {
    background-image: url(https://stripe.com/img/v3/customers/logos/header-logos@2x.png?39);
    background-position: -934px -406px;
    width: 152px;
    left: 50px;

}

.icon-image-5 {
    background-image: url(https://stripe.com/img/v3/customers/logos/header-logos@2x.png?39);
    background-position: -34px -606px;
    width: 152px;
    left: -100px;

}

.icon-image-6 {
    background-image: url(https://stripe.com/img/v3/customers/logos/header-logos@2x.png?39);
    background-position: -634px -6px;
    width: 152px;
    left: -200px;

}

.icon-image-7 {
    background-image: url(https://stripe.com/img/v3/customers/logos/header-logos@2x.png?39);
    background-position: -434px 406px;
    width: 152px;
    left: -300px;
}

.icon-image-8 {
    background-image: url(https://stripe.com/img/v3/customers/logos/header-logos@2x.png?39);
    background-position: -934px -106px;
    width: 152px;
    left: -400px;
}

.icon span {
    left: 50%;
    bottom: -40px;
    padding: 5px 12px;
    background: #fff;
    -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border-radius: 50px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #566b78;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%,-10px);
    transform: translate(-50%,-10px);
    opacity: 0;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
