.common-UppercaseTitle {
    color: #6772e5;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-size: 21px;
    line-height: 32px;
}

h2.common-UppercaseText {
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #24b47e;
}

h1.common-PageTitle {
    font-size: 45px;
    line-height: 60px;
    color: #32325d;
    letter-spacing: -.01em;
    font-weight: 300;
}

.common-IntroText {
    font-weight: 300;
    color: #424770;
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
}

.common-Link {
    color: #6772e5;
    font-weight: 500;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    cursor: pointer;
}

.common-Link:hover {
    text-decoration: none;
    color: #32325d;
}

.common-Link--arrow:after {
    font: normal 16px StripeIcons;
    content: "\2192";
    padding-left: 5px;
}

/* Header & Stripes Styles */
.header-hero {
    position: relative;
    width: 100%;
    height: 60vh;
    min-height: 480px;
    max-height: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.StripeBackground {
    top: calc(50% + 310px);
}

.StripeBackground {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    pointer-events: none;
}

.StripeBackground .stripe {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    height: 200px;
}

.StripeBackground .s0 {
    height: 5000px;
    bottom: -150px;
    background: -webkit-gradient(linear,left top,right top,from(#e4ecf5),to(#f5fdff));
    background: linear-gradient(90deg,#e4ecf5,#f5fdff);
}

.StripeBackground .s1 {
    bottom: -350px;
    left: calc(50% + 220px);
    background: -webkit-gradient(linear,left top,right top,from(#f4fafd),to(#eff8fc));
    background: linear-gradient(90deg,#f4fafd,#eff8fc);
}

.StripeBackground .s2 {
    bottom: -150px;
    right: calc(50% - 220px);
    background: -webkit-gradient(linear,left top,right top,from(#d6e3f0),to(#e7f3fa));
    background: linear-gradient(90deg,#d6e3f0,#e7f3fa);
}

.StripeBackground .s3 {
    /*bottom: 600px;*/
    bottom: calc(80px * 3);
    left: 10%;
    right: calc(50% - 300px);
    background: -webkit-gradient(linear,left top,right top,from(#ecf4fa),to(#e4eff6));
    background: linear-gradient(90deg,#ecf4fa,#e4eff6);
}

/* Visual CSS */
.icon-container {
    width: 3000px;
    height: 460px;
    position: relative;
    margin-bottom: 100px;
}

.Icon {
    position: absolute;
    background-image: url(https://stripe.com/img/v3/customers/logos/header-logos@2x.png?2);
    will-change: transform,opacity;
    -webkit-background-size: 1076px 1076px;
    background-size: 1076px 1076px;
    margin: -45px 0 0 -75px;
    border-radius: 50%;
    -webkit-box-shadow: 0 15px 35px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.07);
    box-shadow: 0 15px 35px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.07);
    width: 152px;
    height: 152px;
}

.Icon span {
    position: absolute;
    left: 50%;
    bottom: -40px;
    padding: 5px 12px;
    background: #fff;
    -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border-radius: 50px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #566b78;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%,-10px);
    transform: translate(-50%,-10px);
    opacity: 0;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.AnimatedIcon {
    width: 40px;
    height: 96px;
}

.Icon:hover span {
    opacity: 0.9;
    transform: translate(-50%, 0);
}

.Icon-imgAffirm {
    background-position: 0 0;
    width: 152px;
    height: 152px
}

.Icon-imgAllianz {
    background-position: -154px 0;
    width: 152px;
    height: 152px
}

.Icon-imgAmazon {
    background-position: 0 -154px;
    width: 152px;
    height: 152px
}

.Icon-imgBlueApron {
    background-position: -154px -154px;
    width: 152px;
    height: 152px
}

.Icon-imgCatawiki {
    background-position: -308px 0;
    width: 152px;
    height: 152px
}

.Icon-imgCityofBoston {
    background-position: -308px -154px;
    width: 152px;
    height: 152px
}

.Icon-imgDeliveroo {
    background-position: 0 -308px;
    width: 152px;
    height: 152px
}

.Icon-imgDiDi {
    background-position: -154px -308px;
    width: 152px;
    height: 152px
}

.Icon-imgDoordash {
    background-position: -308px -308px;
    width: 152px;
    height: 152px
}

.Icon-imgExpedia {
    background-position: -462px 0;
    width: 152px;
    height: 152px
}

.Icon-imgFacebook {
    background-position: -462px -154px;
    width: 152px;
    height: 152px
}

.Icon-imgFender {
    background-position: -462px -308px;
    width: 152px;
    height: 152px
}

.Icon-imgFitbit {
    background-position: 0 -462px;
    width: 152px;
    height: 152px
}

.Icon-imgGoogle {
    background-position: -154px -462px;
    width: 152px;
    height: 152px
}

.Icon-imgIndiegogo {
    background-position: -308px -462px;
    width: 152px;
    height: 152px
}

.Icon-imgInstacart {
    background-position: -462px -462px;
    width: 152px;
    height: 152px
}

.Icon-imgKickstarter {
    background-position: -616px 0;
    width: 152px;
    height: 152px
}

.Icon-imgLyft {
    background-position: -616px -154px;
    width: 152px;
    height: 152px
}

.Icon-imgNasdaq {
    background-position: -616px -308px;
    width: 152px;
    height: 152px
}

.Icon-imgNat-Geo {
    background-position: -616px -462px;
    width: 152px;
    height: 152px
}

.Icon-imgOpenTable {
    background-position: 0 -616px;
    width: 152px;
    height: 152px
}

.Icon-imgPanic {
    background-position: -154px -616px;
    width: 152px;
    height: 152px
}

.Icon-imgPinterest {
    background-position: -308px -616px;
    width: 152px;
    height: 152px
}

.Icon-imgPostmates {
    background-position: -462px -616px;
    width: 152px;
    height: 152px
}

.Icon-imgRackspace {
    background-position: -616px -616px;
    width: 152px;
    height: 152px
}

.Icon-imgReddit {
    background-position: -770px 0;
    width: 152px;
    height: 152px
}

.Icon-imgSalesforce {
    background-position: -770px -154px;
    width: 152px;
    height: 152px
}

.Icon-imgShopify {
    background-position: -770px -308px;
    width: 152px;
    height: 152px
}

.Icon-imgSlack {
    background-position: -770px -462px;
    width: 152px;
    height: 152px
}

.Icon-imgSpotify {
    background-position: -770px -616px;
    width: 152px;
    height: 152px
}

.Icon-imgSquarespace {
    background-position: 0 -770px;
    width: 152px;
    height: 152px
}

.Icon-imgTarget {
    background-position: -154px -770px;
    width: 152px;
    height: 152px
}

.Icon-imgTaskRabbit {
    background-position: -308px -770px;
    width: 152px;
    height: 152px
}

.Icon-imgTed {
    background-position: -462px -770px;
    width: 152px;
    height: 152px
}

.Icon-imgTheGuardian {
    background-position: -616px -770px;
    width: 152px;
    height: 152px
}

.Icon-imgTicketSwap {
    background-position: -770px -770px;
    width: 152px;
    height: 152px
}

.Icon-imgTwitch {
    background-position: -924px 0;
    width: 152px;
    height: 152px
}

.Icon-imgUber {
    background-position: -924px -154px;
    width: 152px;
    height: 152px
}

.Icon-imgWeTransfer {
    background-position: -924px -308px;
    width: 152px;
    height: 152px
}

.Icon-imgWish {
    background-position: -924px -462px;
    width: 152px;
    height: 152px
}

.Icon-imgXero {
    background-position: -924px -616px;
    width: 152px;
    height: 152px
}

.Icon-imgYelp {
    background-position: -924px -770px;
    width: 152px;
    height: 152px
}

.Icon-imgZillow {
    background-position: 0 -924px;
    width: 152px;
    height: 152px
}

/* Developer Section Styles */
#developers-section, #our-mission, #instructor {
    background: white;
}

#flexible-learning {
    border-right: 2px solid #f6f9fc;
}

#our-mission:before {
    content: "";
    display: block;
    height: 2px;
    background: #f2f6fa;
}

#course-overview {
    background: rgb(246, 249, 252);
}

.course-overview-list li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mission-svg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.laptop {
    position: relative;
    width: 584px;
    height: 405px;
    top: 30px;
    -webkit-transform: scale(0.65);
    transform: scale(0.65); /* Controls the size of the laptop */
    -webkit-transform-origin: 0 40px;
    transform-origin: 0 40px;
    left: calc(50% - 166px);
}

.laptop * {
    position: absolute;
}

.laptop .shadow {
    left: 17px;
    right: 17px;
    top: 40px;
    height: 490px;
    opacity: .3;
    background: #7692b3;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    will-change: transform;
}

.laptop .lid {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#e5ebf2,#f3f8fb);
    border-radius: 20px;
    -webkit-box-shadow: inset 1px -4px 6px rgba(145,161,181,.3);
    box-shadow: inset 1px -4px 6px rgba(145,161,181,.3);
}

.laptop .camera {
    --size: 4px;
    width: var(--size);
    height: var(--size);
    top: 10px;
    left: 50%;
    margin-left: -2px;
    border-radius: 50%;
    background: #dae0e8;
}

.laptop .screen {
    top: 24px;
    bottom: 35px;
    left: 17px;
    right: 17px;
    border-radius: 4px;
    -webkit-box-shadow: -1px 1px 6px rgba(171,183,204,.2);
    box-shadow: -1px 1px 6px rgba(171,183,204,.2);
    background: #f2f6fa;
}

.laptop .chassis {
    width: 100%;
    height: 142px;
    top: calc(100% - 11px);
    border-radius: 8px 8px 14px 14px;
    -webkit-transform: perspective(880px) rotateX(40deg);
    transform: perspective(880px) rotateX(40deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    background: linear-gradient(rgba(145,161,181,.2),rgba(145,161,181,0)),linear-gradient(45deg,#e5ebf2,#f3f8fb);
    -webkit-box-shadow: inset 0 -2px 3px rgba(145,161,181,.5), inset -1px -6px 4px rgba(253,255,255,.9);
    box-shadow: inset 0 -2px 3px rgba(145,161,181,.5), inset -1px -6px 4px rgba(253,255,255,.9);
}

.laptop .chassis * {
    opacity: .3;
    background: linear-gradient(45deg,#b2bdcc,#c1ccd8);
    -webkit-box-shadow: 1px 1px 1px hsla(0,0%,100%,.75);
    box-shadow: 1px 1px 1px hsla(0,0%,100%,.75);
}

.laptop .keyboard {
    left: 28px;
    right: 28px;
    top: 8px;
    height: 66px;
    border-radius: 2px 2px 4px 4px;
}

.laptop .trackpad {
    left: 165px;
    right: 165px;
    top: 76px;
    height: 52px;
    border-radius: 4px 4px 6px 6px;
}


