.course-viewer-sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    background: #fafcfc;
    border-right: 1px solid #f0f4f7;
    text-align: center;
    margin-top: 80px;
    position: fixed;
    width: 350px;
    overflow: hidden;
}

h4 {
 font-size: 20px;
}

small {
    margin-bottom: .75em;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .7rem;
    opacity: .5;
}

.course-viewer-sidebar .curriculum-chapterDuration {
    display: block;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 10px;
    opacity: .5;
}

.overflow {
    height: 100vh;
    width:100%;
    overflow-y: scroll;
}

.curriculum-row {
    border-top: 1px solid #f0f4f7;
}

.curriculum-row-last {
    border-bottom: 1px solid #f0f4f7;
}

.curriculum-row:hover {
    cursor: pointer;
    background-color:#ffffff;
}


/* Main view, move content down due to fixed navbar. */
.main-wrapper {
    height: 100%;
    min-width: 300px;
    max-width: 300px;
}

/* Container for a sidebar. */
.sidebar-container {
    height: 100%;
    padding: 133px 0 0;
    background: #fafcfc;
    border-right: 1px solid #f0f4f7;
    text-align: center;
    width: 300px;
    overflow: hidden;

    position: absolute;
    /*top: 83px;*/
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

/* Scrollable sidebar. */
.sidebar {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    background: #fafcfc;
    border-right: 1px solid #f0f4f7;
    text-align: center;
}
